/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Changed to a lighter background */
}

/* Styling for headers */
h1, h2, h3, h4, h5, h6 {
    color: #333;
}

/* Styling for buttons */
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Custom styles for Streamlit sidebar */
.css-1d391kg {
    padding-top: 300px; /* Adjust this value to move sidebar content higher */
}

.css-1d391kg .css-1lcbmhc, .css-1d391kg .css-1k7bsiw {
    padding-top: 0; /* Remove additional padding from top */
}

/* Styling for the sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; /* adjust as needed */
    height: 100%;
    overflow: auto;
}
/* Add more styles as needed */

/* styles.css */

[data-testid="stSidebar"] .css-17eq0hr {
    padding: 10px;
}

/* Styling the radio buttons */
[data-testid="stSidebar"] .css-1inwz65 {
    color: white;
}
*/

/* Main content adjustments */
.main .block-container {
    padding-top: 1rem; /* Adjust top padding */
    padding-left: 2rem; /* Adjust left padding */
    padding-right: 2rem; /* Adjust right padding */
    padding-bottom: 2rem; /* Adjust bottom padding */
}
